[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
jsonschema = "*"
django-filter = "*"
drf-spectacular = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
