{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block title %}
  Vendor Flow
{% endblock %}

{% block body %}
{% block navbar %}
    <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}"
          role="navigation" aria-label="{% trans "navbar" %}">
      <div class="container">
        <span>
          {% block branding %}
            <a class='navbar-brand' rel="nofollow" href='/'>
                Vendor Flow
            </a>
          {% endblock %}
        </span>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="docs/swagger/"
              >Documentation</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="api/auth/register/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="api/auth/login/">Login</a>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}
<img src="{% static 'handshake.jpg'%}" alt="" style="width: 100vw; height: 100vh; object-fit: cover;" class="logo" />
{% endblock %}
